{% extends 'index.html' %}

{% block content %}

{% if response%}
<div class="divCustom titleCustom">Latest Space News!</div>
<div class="divCustom2">
    <ul class="list-group">
        {% for news in response %}
        <li class="list-group-item">
            <p class="titleCustom">{{news.title}}</p>
            <a href="{{news.url}}">
                <img class="imgCustom" src="{{news.imageUrl}}" />
            </a>
            <p>{{news.summary}}</p>
            <p class="dateCustom">Updated: {{news.updatedAt}}</p>
        </li>
        {% endfor%}
    </ul>
</div>
{% endif %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
{% endif %}
{% endwith %}

{% endblock %}